<li class="{{type}}">
    <div class="tab_left"></div>
    <label for="techno-title">Title</label> : <input type="text" id="techno-title" name="title" /><br/>
    Title : <span name="title"></span><br/>
    <label for="techno-description">Description</label> : <textarea name="description" id="techno-description" cols="30" rows="2"></textarea>
    <button class="save-btn">Save</button>
</li>
