/* Will be compiled down to a single stylesheet with your sass files */

.hero-unit li {
    background-color: #dfdfdf;
    list-style: none;
    margin: 10px 0px 10px 0px;
    display: block;
    height: 80px;
    border-radius: 10px;
}

li .tab_left {
    width: 20px;
    height: 80px;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

li .title {
    font-size: 1.5em;
}

li .description {
    font-size: 1.2em;
    font-style: italic;
}

li.tooling .title {
    color: #1099a3;
}
li.tooling .tab_left {
    background-color: #1099a3;
}


li.jsfmk .title {
    color: #e16d17;
}
li.jsfmk .tab_left {
    background-color: #e16d17;
}
